/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --background: #ddeae1;
  --black: #201a23;
  --white: #fefefe;
  --grey: #a4a4a4;
  --grey-light: #eeeeee;
  --accent: #fbdf7c;
  --accent-medium: #ffcc68;
  --accent-dark: #ff9548;
  --accent-hover: #f9d450;
  --accent-hover-medium: #f4b22f;
  --accent-hover-dark: #ff9548;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  user-select: none;
  font-size: 20px;
  background-color: var(--background);
}

h1 {
  font-family: 'Concert One', sans-serif;
}

main {
  width: 450px;
  margin: 100px auto;
  padding: 30px;
  background-color: var(--white);
  color: var(--black);
  border: 4px solid var(--black);
  border-radius: 30px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input {
  padding: 15px;
  font-size: 20px;
  background-color: var(--grey-light);
  color: var(--grey);
  border: none;
  border-radius: 10px;
  flex-grow: 1;
}

button {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  background-color: var(--accent-medium);
  cursor: pointer;
}

.btn-dark {
  background-color: var(--accent-dark);
}
/* change color */
button:hover {
  background-color: var(--accent-hover-medium);
}

.btn-dark:hover {
  background-color: var(--accent-hover-dark);
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li {
  padding: 20px;
  background-color: var(--accent);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

ul li:hover {
  background-color: var(--accent-hover);
}
